<div class="container outer-wrapper">
    <div class="outer">
        <div class="row w-100 h-100 m-0">
            <div class="col-5 inner-left d-flex align-items-center">
                <div class="wrapper w-100 justify-content-center d-flex">
                    <img class="svg-image" src="../../../assets/svgs/register.svg" alt="temp-svg">
                </div>
            </div>
            <div class="col-7 inner-right d-flex align-items-center">
                <div class="wrapper w-100 col-wrapper">
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <h3>
                                <strong>Register</strong>
                            </h3>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col">
                            <form (ngSubmit)="onClickRegister()">
                                <div class="mb-3">
                                    <label for="InputUsername" class="form-label">Username</label>
                                    <input type="username" name="username" [(ngModel)]="username" class="form-control"
                                        id="InputUsername" aria-describedby="usernameHelp" autocomplete="current-username">
                                </div>
                                <div class="mb-3">
                                    <label for="InputPassword" class="form-label">Password</label>
                                    <input type="password" name="password" [(ngModel)]="password" class="form-control"
                                        id="InputPassword" autocomplete="current-password">
                                </div>
                                <div class="row align-items-center justify-content-center mb-3">
                                    <div class="col-auto">
                                        <button type="submit" class="btn btn-primary my-button">Register</button>
                                    </div>
                                </div>
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-auto">
                                        Already have an account? <a routerLink="/" class="my-link">Login Here</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>